html, body {
  margin:0px;
  height:100%;
  cursor: default;
  user-select: none;
}

body{
  background-image: url("/images/pc-background.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;
}

.terminal{
  margin: 25px auto auto auto;
  height: 300px;
  width: 400px;
  position: relative;
  /* z-index: 100; */
  background-color: rgba(230, 230, 230, 0.52);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.terminal button{
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.info-container{
  display: inline-block;
  width: 100%;
  height: 20px;
  margin-top: -10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.info-container span{
  margin: 5px 5px 5px 2px; 
  font-size: 15px;
}

.terminal-tools-bar{
  top: 0;
  right: 0;
  position: absolute;
}

.terminal button:hover{
  background-color:rgba(255, 255, 255, 0.74);
  transition: 0.5s all;
}

.terminal-container{
  position: absolute;
  bottom: 0px;
  height: 93%;
  width: 100%;
  background-color: black;
  cursor: text;
  user-select: all;
  overflow-y: scroll;
}

.terminal_input{
  width: 98%;
  background: black;
  color: white;
  font-family: monospace;
  font-size: 10px;
  border: none;
  outline: none;
}

.commandLine{
  color: white;
  font-family: monospace;
  font-size: 10px;
  margin-bottom: 4.7px;
  margin-left: 2px;
}

::selection {
  color: black;
  background: white;
}


.tools-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  display: inline-block;
  background:rgba(0, 0, 0, 0.753)
}

.tools-bar-left{
  left: 0;
  width: 20%;
  position: absolute;
}

.tools-bar-left button{
  font-size: 20px;
  margin: 2px;
  padding: 10px 10px 2px 10px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.tools-bar-left button:hover{
  background-color:rgba(175, 175, 175, 0.5);
  transition: 0.3s all;
}

.tools-bar-right{
  position: absolute;
  right: 0;
  font-size: 13px;
  margin: 15px 15px 0px 10px;
}

.tools-bar-right p{
  margin-top: -10px;
}